@import "../../global";

mh-breadcrumbs {
  > .root {
    margin-top: 5px;
    min-height: 30px;
    align-items: center;
    color: $color1;
    flex-wrap: nowrap;
    overflow-x: auto;
    > * {
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;
      &:hover{
        color: $color2;
      }
      > * {
        flex-shrink: 0;
        margin-right: 8px;
      }
      > .icon {
        @include fill($width: 4px, $height: 12px);
        background: url("/resource/image/breadcrumb.png") no-repeat;
        background-size: contain;
      }
    }
  }
}