@import "../../global";

mh-viewer {
  >div {
    .lmv-ready {
      z-index: 1;
      .lmv {
        .spinner {
          display: none;
        }
      }
    }

    .lmv-init, .lmv-error {
      z-index: 2;
      position: absolute;
      top: 0;
      .error-message {
        margin: auto;
      }
    }
  }
}