@import "../../global";

mh-sheet {
  > .root {
    > * {
      flex-shrink: 0;
    }
    > .breadcrumbs {
      background: $background1;
      height: 50px;
      flex-grow: 0;
      border-bottom: $border1;
    }
    > mh-viewer{
      flex-grow: 1;
      @include fill($height: calc(100% - 51px));
    }
  }
}