src/**/*.css
!src/client/resource/**/*.css
src/**/*.exe
src/server/data/
build/
node_modules/
src/client/lib/
test/unit/coverage
test/unit/results
test/e2e/results
src/client/**/*.build.js
pkg/*

npm-debug.log
*.DS_Store
.sass-cache/
.idea/
