@import "../../global";

mh-projects {
  * {
    flex-shrink: 0;
  }
  > div.root {
    justify-content: center;
    align-items: center;
    overflow: auto;
    > div.content{
      max-width: 1260px;
      width: 100%;
      min-height: 100%;
      > .header {
        font-size: 40px;
        font-weight: 100;
        color: $color2;
      }
    }
  }
}