@import "../../global";

mh-projects {
  * {
    flex-shrink: 0;
  }
  > div.root {
    @include IEScrollbars();
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    > div.content{
      max-width: 1292px;
      width: 100%;
      min-height: 100%;
      > * {
        margin-left: 16px;
        margin-right: 16px;
      }
      > .header {
        height: 50px;
        border-bottom: 1px solid $background1;
        align-items: flex-end;
        > .icon {
          @include fill($width: 30px, $height: 50px);
          margin-right: 10px;
          background: url("/resource/image/folder-selected.png") center no-repeat;
          background-size: 30px 30px;
        }
        > .title {
          font-size: 35px;
          font-weight: 100;
          color: $color2;
          margin-right: 16px;
        }
        > .controls{
          > .control {
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            color: $color1;
            > .name {
              margin-bottom: 5px;
            }
            &:hover, &.selected {
              color: $color2;
            }
            &.selected {
              .highlight {
                background: $highlight1;
              }
            }
            .highlight {
              @include fill($height: 5px);
            }
          }
        }
      }
      > mh-loader{
        flex-grow: 1;
      }
      > .projects-loading-error{
        flex-grow: 1;
        > div{
          margin: auto;
        }
      }
      > .projects{
        margin: 8px;
        flex-wrap: wrap;
        > * {
          @include fill($width: 196px, $height: 285px);
          background: $background1;
          margin: 8px;
          > .thumbnail{
            @include fill($width: 196px, $height: 196px);
            border-bottom: $border1;
            background: url("/resource/image/img.png") center no-repeat;
            img{
              @include fill($width: 196px, $height: 196px);
            }
          }
        }
        > .new-project-form {
          align-items: center;
          display: none;
          &.show{
            display: flex;
          }
          > .thumbnail{
            cursor: pointer;
            border-bottom: $border1;
            &:hover{
              background: url("/resource/image/img-selected.png") center no-repeat;
            }
          }
          > input[type="file"] {
            display: none;
          }
          > input[type="text"] {
            @include fill($width: calc(100% - 16px), $height: 20px);
            margin-top: 6px;
            text-align: center;
            outline: none;
            border: $border1;
            border-radius: 10px;
            background: $background2;
            color: $color2;
            &:focus{
              border: 1px solid $highlight1;
            }
          }
          > .btns{
            width: calc(100% - 16px);
            justify-content: space-between;
            > * {
              margin-top: 6px;
              @include fill($height: 20px);
              border-radius: 25px;
              cursor: pointer;
              text-align: center;
              color: $color2;
            }
            .create{
              background: $highlight1;
              &:hover{
                background: $highlight1Hover;
              }
              &:active{
                background: $highlight1;
              }
            }
            .cancel{
              background: $background2;
              &:hover{
                background: $background1;
                border: $border1;
              }
              &:active{
                background: $background2;
              }
            }
          }
        }
        > .project{
          cursor: pointer;
          > .info{
            > * {
              margin-left: 8px;
              margin-top: 8px;
            }
            > .name {
              color: $color2;
            }
          }
        }
      }
    }
  }
}