<div class="mh-def mh-fill root">
    <div class="mh-def content">
        <div class="mh-def mh-row header">
            <div class="icon">
                <div  class="mh-def mh-fill file-ver">
                    <div class="mh-def" ng-if="documentVersion.version">{{::txt('v', documentVersion.version)}}</div>
                </div>
            </div>
            <div class="title" ng-if="documentVersion.version">{{::txt('v', documentVersion.version)}}</div>
            <div class="mh-def mh-row controls">
                <a class="mh-def control" ng-show="document && documentVersion" ng-href="/api/v1/documentVersion/getSeedFile/{{documentVersion.id}}" download="{{document.name}}.v{{documentVersion.version}}.{{documentVersion.fileExtension}}">
                    <div class="name">{{::txt('download')}}</div>
                    <div class="highlight"></div>
                </a>
            </div>
        </div>
        <div class="mh-def breadcrumbs">
            <mh-breadcrumbs entity-type="documentVersion" entity-id="{{documentVersionId}}" ng-cloak></mh-breadcrumbs>
        </div>
        <div class="mh-def loading-error" ng-show="loadingError">
            <div>{{txt('loadingError', versionsLoadingError)}}</div>
        </div>
        <div class="mh-def mh-row content" ng-show="!loadingError">
        </div>
        <mh-loader class="mh-def bar-spinner" ng-show="loading"></mh-loader>
    </div>
</div>