<div class="mh-def mh-fill root">
    <div class="mh-def content">
        <div class="mh-def mh-row header">
            <div class="icon">
                <div  class="mh-def mh-fill file-ver">
                    <div class="mh-def" ng-if="documentVersion.version">{{::txt('v', documentVersion.version)}}</div>
                </div>
            </div>
            <div class="mh-def mh-row controls">
                <a class="mh-def control" ng-if="document && documentVersion" ng-href="/api/v1/documentVersion/getSeedFile/{{::documentVersion.id}}" download="{{::document.name}}.v{{::documentVersion.version}}.{{::documentVersion.fileExtension}}">
                    <div class="name">{{::txt('download')}}</div>
                    <div class="highlight"></div>
                </a>
            </div>
        </div>
        <div class="mh-def breadcrumbs">
            <mh-breadcrumbs entity-type="documentVersion" entity-id="{{documentVersionId}}" ng-cloak></mh-breadcrumbs>
        </div>
        <div class="mh-def loading-error" ng-if="loadingError">
            <div>{{::txt('loadingError', versionsLoadingError)}}</div>
        </div>
        <div class="mh-def {{documentVersion.fileType}} content" ng-show="!loading && !loadingError">
            <mh-image-doc document-version-id="{{documentVersion.id}}" document-version-file-type="{{documentVersion.fileType}}" ng-if="documentVersion.fileType.indexOf('image') === 0"></mh-image-doc>
            <mh-video-doc document-version-id="{{documentVersion.id}}" document-version-file-type="{{documentVersion.fileType}}" ng-if="documentVersion.fileType.indexOf('video') === 0"></mh-video-doc>
            <mh-audio-doc document-version-id="{{documentVersion.id}}" document-version-file-type="{{documentVersion.fileType}}" ng-if="documentVersion.fileType.indexOf('audio') === 0"></mh-audio-doc>
            <mh-open-doc document-version-id="{{documentVersion.id}}" document-version-file-extension="{{documentVersion.fileExtension}}" document-name="{{document.name}}" document-version-version="{{documentVersion.version}}" ng-if="document && (documentVersion.fileType === 'od' || documentVersion.fileType === 'pdf')"></mh-open-doc>
            <mh-markdown-doc document-version-id="{{documentVersion.id}}" ng-if="documentVersion.fileType === 'md'"></mh-markdown-doc>
            <mh-text-doc document-version-id="{{documentVersion.id}}" ng-if="documentVersion.fileType === 'text'"></mh-text-doc>
            <mh-lmv-doc document-version-id="{{documentVersion.id}}" ng-if="documentVersion.fileType === 'lmv'"></mh-lmv-doc>
            <div class="mh-def " ng-if="documentVersion && documentVersion.fileType === ''">
                <div class="mh-def txt">
                    {{::txt('unknown')}}
                </div>
            </div>
        </div>
        <mh-loader class="mh-def bar-spinner" ng-show="loading && !loadingError"></mh-loader>
    </div>
</div>