<div class="mh-def mh-fill root">
    <div class="mh-def content">
        <div class="mh-def mh-row header">
            <div class="icon">
                <div  class="mh-def mh-fill file-ext">
                    <div class="mh-def" ng-if="!versions[0].fileType.match('^(image|video|audio)/').length">{{::versions[0].fileExtension}}</div>
                    <div class="mh-def" ng-if="versions[0].fileType.match('^(image|video|audio)/').length">{{::txt(versions[0].fileType.match('^(image|video|audio)')[0])}}</div>
                </div>
            </div>
            <div class="mh-def mh-row controls" ng-show="versions && !versionsLoadingError">
                <div class="mh-def control" ng-class="{selected: selectedControl === 'newVersion'}" ng-click="newVersionBtnClick()">
                    <div class="name">{{::txt('newVersion')}}</div>
                    <div class="highlight"></div>
                </div>
            </div>
        </div>
        <div class="mh-def breadcrumbs">
            <mh-breadcrumbs entity-type="document" entity-id="{{documentId}}" ng-cloak></mh-breadcrumbs>
        </div>
        <div class="mh-def versions-loading-error" ng-if="versionsLoadingError">
            <div>{{::txt('loadingError', versionsLoadingError)}}</div>
        </div>
        <div class="mh-def mh-row versions" ng-show="versions && !versionsLoadingError">
            <mh-create-form ng-if="!versions[0].fileType.match('^(image|video|audio)/').length" file-input-accept=".{{::versions[0].fileExtension}}" new-type="documentVersion" parent-id="{{::documentId}}" ng-show="selectedControl"></mh-create-form>
            <mh-create-form ng-if="versions[0].fileType.match('^(image|video|audio)/').length" file-input-accept="{{versions[0].fileType.match('^(image|video|audio)')[0]}}/*" new-type="documentVersion" parent-id="{{::documentId}}" ng-show="selectedControl"></mh-create-form>
            <div class="mh-def version" ng-repeat="version in versions track by $index" ng-click="::versionClick(version)">
                <div class="mh-def thumbnail">
                    <div  class="mh-def mh-fill file-ext">
                        <div class="mh-def" >{{::version.fileExtension}}</div>
                    </div>
                    <div class="mh-def status-icon {{version.status}}" ng-class="{'mh-rotate': version.status.match('(registered|pending|inprogress)').length > 0}"></div>
                    <img ng-src="/api/v1/documentVersion/getThumbnail/{{::version.id}}/{{::version.thumbnailType}}" ng-if="version && version.thumbnailType"/>
                    <img ng-src="/api/v1/sheet/getItem/{{::version.firstSheet.id}}/{{::version.firstSheet.thumbnails[1]}}" ng-if="version && !version.thumbnailType && version.firstSheet && version.firstSheet.thumbnails[1]"/>
                </div>
                <div class="mh-def info">
                    <div class="name mh-ellip">{{::txt('v', version.version)}}</div>
                    <div class="uploaded mh-ellip">{{::dt(version.uploaded, 'L')}}</div>
                    <div class="sheet-count mh-ellip" ng-if="version.sheetCount > 0" ng-click="::sheetsClick(version)">{{::txt('sheets', version.sheetCount)}}</div>
                </div>
            </div>
        </div>
        <mh-loader class="mh-def bar-spinner" ng-show="loadingVersions"></mh-loader>
    </div>
</div>