@import "../../global";

mh-header {
  .root {
    background: $background1;
    font-size: 15px;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    .aligner {
      margin: 0 10px;
      justify-content: space-between;
      align-items: center;
      max-width: $pageMaxWidth;
      .controls {
        height: 100%;
        .viewer {
          background: url("/resource/image/eye-icon.png") no-repeat center;
          background-size: 40px 40px;
        }
        .uploads {
          background: url("/resource/image/upload-icon.png") no-repeat center;
          background-size: 30px 30px;
        }
        .viewer{
          border-left: 1px solid $splitter1;
          &.active {
            background-color: $background1Active;
          }
        }
        .viewer, .uploads {
          border-right: 1px solid $splitter1;
          cursor: pointer;
          justify-content: center;
          width: 50px;
          &:hover:not(.active) {
            background-color: $background1Highlight;
          }
          &:active:not(.active) {
            background-color: $background1;
          }
        }
        .global-search {
          justify-content: center;
          > input {
            padding: 5px;
            border: 1px solid $splitter1;
            background: $background2;
            color: $txtColor1;
            text-align: center;
            border-radius: 10px;
            margin-left: 10px;
            &:focus {
              outline: none;
              border-color: $background1Active;
            }
          }
        }
      }
      .user-avatar {
        @include fill(40px, 40px);
        background: #fff;
        border-radius: 2px;
        img {
          @include fill(34px, 34px);
          margin: 3px 3px;
          border-radius: 2px;
        }
      }
    }
  }
}