@import "../../global";

cp-header {
  background: $darkBackground;
  color: $lightTxtColor;
  font-size: 30px;
  font-weight: bold;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
  .storm-logo {
    @include fill($width: 300px);
    background: url("/resource/image/logo.png") no-repeat;
    background-size: contain;
  }
  .user-avatar{
    @include fill(40px, 40px);
    background: #fff;
    border-radius: 2px;
    margin-right: 10px;
    img{
      @include fill(34px, 34px);
      margin: 3px 3px;
      border-radius: 2px;
    }
  }
}