<div class="mh-def mh-fill root">
    <div class="mh-def mh-row header">
        <div class="mh-def icon"></div>
        <mh-breadcrumbs class="mh-def mh-fill" entity-type="projectSpaceVersion" entity-id="{{::projectSpaceVersionId}}" ng-cloak></mh-breadcrumbs>
    </div>
    <div class="mh-def mh-row clash-viewer">
        <mh-viewer parent-scope-id="{{$id}}" viewer-type="plain" class="mh-def" ng-cloak></mh-viewer>
        <div class="mh-def clash-menu">
            <div class="mh-def clash-menu-root">
                <div class="mh-def header section">
                    <div class="mh-def mh-fill sheet-selectors" ng-show="!loadingSheetTransforms && viewer">
                        <select ng-options="sheetTransform as sheetTransform.name for sheetTransform in sheetTransformList(0)" ng-model="selections[0]" ng-change="sheetSelectionChange()"></select>
                        <select ng-options="sheetTransform as sheetTransform.name for sheetTransform in sheetTransformList(1)" ng-model="selections[1]" ng-change="sheetSelectionChange()"></select>
                    </div>
                </div>
                <div class="mh-def clashes">
                    <div class="mh-def clash" ng-repeat="clash in clashes | orderBy: 'distance'">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>