@import "../../global";

mh-project-space-version {
  > .root {
    > * {
      flex-shrink: 0;
    }
    > .header {
      background: $background1;
      height: 50px;
      flex-grow: 0;
      border-bottom: $border1;
      > .icon {
        flex-grow: 0;
        flex-shrink: 0;
        @include fill(50px, 50px);
        background: url("/resource/image/multi-sheet.png") center no-repeat;
        background-size: 30px 30px;
      }
      > mh-breadcrumbs {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
    > .clash-viewer {
      @include fill($height: calc(100% - 51px));

      > mh-viewer {
        flex-grow: 1;
        @include fill($width: calc(100% - 200px));
      }

      > .clash-menu {
        @include fill($width: 200px);
        max-height: 100%;
        max-width: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        background: $background1;

        > .clash-menu-root {
          @include fill($width: calc(100% - 1px));
          border-left: $border1;

          * {
            flex-shrink: 0;
          }

          > .section {
            border-bottom: $border1;
          }

          > .header {
            justify-content: flex-start;
            align-items: center;
            @include fill($height: 50px);
            > .sheet-selectors{
              justify-content: space-between;
            }
          }

          > .clashes {
            overflow: auto;
            @include fill($width: 100%, $height: calc(100% - 51px));
            > .clash {
              margin: 4px 8px;
            }
          }
        }
      }
    }
  }
}