<div class="mh-def mh-fill root">
    <div class="mh-def mh-row header">
        <div class="mh-def icon"></div>
        <mh-breadcrumbs class="mh-def mh-fill" entity-type="projectSpaceVersion" entity-id="{{::projectSpaceVersionId}}" ng-cloak></mh-breadcrumbs>
    </div>
    <div class="mh-def mh-row clash-viewer">
        <mh-viewer parent-scope-id="{{$id}}" viewer-type="plain" class="mh-def" ng-cloak></mh-viewer>
        <mh-loader class="mh-def mh-fill model-loading bar-spinner" ng-show="loadingModel[0] || loadingModel[1]"></mh-loader>
        <div class="mh-def clash-menu">
            <div class="mh-def clash-menu-root">
                <div class="mh-def header section">
                    <div class="mh-def mh-fill sheet-selectors" ng-show="!loadingSheetTransforms && viewer">
                        <select ng-options="sheetTransform as sheetTransform.name for sheetTransform in sheetTransformList(0)" ng-model="selections[0]" ng-change="sheetSelectionChange()" ng-disabled="loadingModel[0] || loadingModel[1]"></select>
                        <select ng-options="sheetTransform as sheetTransform.name for sheetTransform in sheetTransformList(1)" ng-model="selections[1]" ng-change="sheetSelectionChange()" ng-disabled="loadingModel[0] || loadingModel[1]"></select>
                    </div>
                </div>
                <mh-loader class="mh-def mh-fill model-loading bar-spinner" ng-show="loadingModel[0] || loadingModel[1] || loadingClashTestData"></mh-loader>
                <div class="mh-def clashes" ng-show="!loadingModel[0] && !loadingModel[1] && !loadingClashTestData">
                    <div class="mh-def clash" ng-repeat="clash in clashes | orderBy: 'distance'" ng-click="clashClick(clash)">
                        <div class="mh-def info">
                            {{::clash.distance}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>