<div class="mh-def mh-fill root">
    <div class="mh-def thumbnail {{newType}}" ng-class="{'multi-files': multiFiles, 'single-file': singleFile}" ng-click="::newFileInputBtnClick()">
        <div  class="mh-def mh-fill file-ext" ng-show="!imgSrc && fileExtension">
            <div class="mh-def" >{{fileExtension}}</div>
        </div>
        <img class="mh-fill" ng-src="{{imgSrc}}" ng-if="imgSrc"/>
        <mh-loader class="mh-def mh-fill bar-spinner" ng-show="sendingCreateApiRequest"></mh-loader>
    </div>
        <input type="file" class="multi-files file-input" accept="{{fileInputAccept}}" onchange="angular.element(this).scope().newFileInputChange()" multiple/>
        <input type="file" class="single-file file-input" accept="{{fileInputAccept}}" onchange="angular.element(this).scope().newFileInputChange()"/>
    <input type="text" ng-attr-placeholder="{{!multiFiles && txt('name') || txt('multiFiles')}}" ng-model="name" ng-disabled="multiFiles" ng-show="newType !== 'documentVersion' && newType !== 'projectSpaceVersion'" onkeypress="angular.element(this).scope().nameInputKeyPress(event)"/>
    <div class="create" ng-click="createBtnClick()" ng-if="newType">{{txt(action())}}</div>
    <div class="cancel" ng-click="cancelBtnClick()">{{::txt('cancel')}}</div>
</div>