<div class="mh-def mh-fill root">
    <div class="mh-def content">
        <div class="mh-def mh-row header">
            <div class="icon"></div>
            <div class="mh-def mh-row controls" ng-show="children && !childrenLoadingError">
                <div class="mh-def control" ng-class="{selected: selectedControl === 'newFolder'}" ng-click="newFolderBtnClick()">
                    <div class="name">{{::txt('newFolder')}}</div>
                    <div class="highlight"></div>
                </div>
                <div class="mh-def control" ng-class="{selected: selectedControl === 'newDocument'}" ng-click="newDocumentBtnClick()">
                    <div class="name">{{::txt('newDocument')}}</div>
                    <div class="highlight"></div>
                </div>
                <div class="mh-def control" ng-class="{selected: selectedControl === 'newProjectSpace'}" ng-show="projectSpaceExists" ng-click="newProjectSpaceBtnClick()">
                    <div class="name">{{::txt('newProjectSpace')}}</div>
                    <div class="highlight"></div>
                </div>
            </div>
        </div>
        <div class="mh-def breadcrumbs">
            <mh-breadcrumbs entity-type="folder" entity-id="{{folderId}}" ng-cloak></mh-breadcrumbs>
        </div>
        <div class="mh-def children-loading-error" ng-show="childrenLoadingError">
            <div>{{txt('loadingError', childrenLoadingError)}}</div>
        </div>
        <div class="mh-def mh-row children" ng-show="children && !childrenLoadingError">
            <mh-create-form file-input-accept="*/*" new-type="{{newType}}" parent-id="{{::folderId}}" project-id="{{folder.project}}" ng-show="selectedControl"></mh-create-form>
            <div class="mh-def child {{::child.nodeType}}" ng-repeat="child in children track by $index" ng-click="::childClick(child)">
                <div class="mh-def thumbnail">
                    <div  class="mh-def mh-fill file-ext">
                        <div class="mh-def" ng-if="::child.latestVersion && !child.latestVersion.fileType.match('^(image|video|audio)/').length">{{::child.latestVersion.fileExtension}}</div>
                        <div class="mh-def" ng-if="::child.latestVersion && child.latestVersion.fileType.match('^(image|video|audio)/').length">{{::txt(child.latestVersion.fileType.match('^(image|video|audio)')[0])}}</div>
                    </div>
                    <div class="mh-def status-icon {{child.latestVersion.status}}" ng-class="{'mh-rotate': child.latestVersion.status.match('(registered|pending|inprogress)').length > 0}"></div>
                    <img ng-src="/api/v1/documentVersion/getThumbnail/{{::child.latestVersion.id}}/{{::child.latestVersion.thumbnailType}}" ng-if="child.latestVersion && child.latestVersion.thumbnailType"/>
                    <img ng-src="/api/v1/sheet/getItem/{{::child.latestVersion.firstSheet.id}}/{{::child.latestVersion.firstSheet.thumbnails[1]}}" ng-if="child.latestVersion && !child.latestVersion.thumbnailType && child.latestVersion.firstSheet && child.latestVersion.firstSheet.thumbnails[1]"/>
                </div>
                <div class="mh-def info">
                    <div class="name mh-ellip">{{::child.name}}</div>
                    <div class="ext mh-ellip" ng-if="::child.nodeType === 'folder'">{{::txt('folder')}}</div>
                    <div class="ext mh-ellip" ng-if="::child.nodeType !== 'folder' && child.latestVersion && !child.latestVersion.fileType.match('^(image|video|audio)/').length">{{::child.latestVersion.fileExtension}}</div>
                    <div class="ext mh-ellip" ng-if="::child.nodeType !== 'folder' && child.latestVersion && child.latestVersion.fileType.match('^(image|video|audio)/').length">{{::txt(child.latestVersion.fileType.match('^(image|video|audio)')[0])}}</div>
                    <div class="child-count mh-ellip" ng-if="::child.nodeType === 'folder'">{{::txt('children', child.childCount)}}</div>
                    <div class="child-count mh-ellip" ng-if="::child.nodeType !== 'folder'" ng-click="::$event.stopPropagation(); childVersionsClick(child);">{{::txt('versions', child.childCount)}}</div>
                </div>
            </div>
        </div>
        <mh-loader class="mh-def bar-spinner" ng-show="loadingChildren"></mh-loader>
    </div>
</div>