<div class="mh-def mh-fill root">
    <div class="mh-def content">
        <div class="mh-def mh-row header">
            <div class="icon"></div>
            <div class="mh-def mh-row controls" ng-show="children && !childrenLoadingError">
                <div class="mh-def control" ng-class="{selected: selectedControl === 'newFolder'}" ng-click="newFolderBtnClick()">
                    <div class="name">{{::txt('newFolder')}}</div>
                    <div class="highlight"></div>
                </div>
                <div class="mh-def control" ng-class="{selected: selectedControl === 'newDocument'}" ng-click="newDocumentBtnClick()">
                    <div class="name">{{::txt('newDocument')}}</div>
                    <div class="highlight"></div>
                </div>
            </div>
        </div>
        <div class="mh-def breadcrumbs">
            <mh-breadcrumbs entity-type="folder" entity-id="{{folderId}}" ng-cloak></mh-breadcrumbs>
        </div>
        <div class="mh-def children-loading-error" ng-show="childrenLoadingError">
            <div>{{txt('loadingError', childrenLoadingError)}}</div>
        </div>
        <div class="mh-def mh-row children" ng-show="children && !childrenLoadingError">
            <mh-thumbnail-create-form new-type="{{newType}}" ng-show="selectedControl === 'newFolder' || selectedControl === 'newDocument'"></mh-thumbnail-create-form>
            <div class="mh-def child" ng-repeat="child in children track by $index" ng-click="childClick(child)">
                <div class="thumbnail">
                    <img ng-src="/api/v1/project/getImage/{{child.versionId}}.{{child.thumbnailFileExtension}}" ng-if="child.thumbnailFileExtension"/>
                </div>
                <div class="mh-def info">
                    <div class="name mh-ellip">{{::project.name}}</div>
                    <div class="type mh-ellip" >{{::dt(project.created)}}</div>
                    <div class="role mh-ellip">{{::txt(project.role)}}</div>
                </div>
            </div>
        </div>
        <mh-loader class="mh-def bar-spinner" ng-show="loadingChildren"></mh-loader>
    </div>
</div>