<div class="mh-def mh-fill root">
    <div class="mh-def content">
        <div class="mh-def mh-row header">
            <div class="icon"></div>
            <div class="mh-def mh-row controls" ng-show="children && !childrenLoadingError">
                <div class="mh-def control" ng-class="{selected: selectedControl === 'newFolder'}" ng-click="newFolderBtnClick()">
                    <div class="name">{{::txt('newFolder')}}</div>
                    <div class="highlight"></div>
                </div>
                <div class="mh-def control" ng-class="{selected: selectedControl === 'newFile'}" ng-click="newFileBtnClick()">
                    <div class="name">{{::txt('newFile')}}</div>
                    <div class="highlight"></div>
                </div>
            </div>
        </div>
        <div class="mh-def breadcrumbs">
            <mh-breadcrumbs entity-type="folder" entity-id="{{folderId}}" ng-cloak></mh-breadcrumbs>
        </div>
        <div class="mh-def children-loading-error" ng-show="childrenLoadingError">
            <div>{{txt('loadingError', childrenLoadingError)}}</div>
        </div>
        <div class="mh-def mh-row children" ng-show="children && !childrenLoadingError">
            <div class="mh-def new-folder-form" ng-class="{show: selectedControl === 'newFolder'}">
                <div class="thumbnail"></div>
                <input type="text" placeholder="{{::txt('folderName')}}" ng-model="newFolderName"/>
                <div class="mh-def btns">
                    <div class="create" ng-click="createNewFolderBtnClick()">{{::txt('create')}}</div>
                    <div class="cancel" ng-click="newFolderBtnClick()">{{::txt('cancel')}}</div>
                </div>
            </div>
            <div class="mh-def new-file-form" ng-class="{show: selectedControl === 'newFile'}">
                <div class="thumbnail" ng-click="newFileInputBtnClick()"></div>
                <input type="file" class="new-file-input" onchange="angular.element(this).scope().newFileInputChange()"/>
                <input type="text" placeholder="{{::txt('fileName')}}" ng-model="newFileName"/>
                <div class="mh-def btns">
                    <div class="create" ng-click="createNewFileBtnClick()">{{::txt('create')}}</div>
                    <div class="cancel" ng-click="newFileBtnClick()">{{::txt('cancel')}}</div>
                </div>
            </div>
            <div class="mh-def project" ng-repeat="child in children track by $index" ng-click="childClick(child)">
                <div class="thumbnail">
                    <img ng-src="/api/v1/project/getImage/{{::project.id}}.{{::project.imageFileExtension}}" ng-show="::project.imageFileExtension"/>
                </div>
                <div class="mh-def info">
                    <div class="name mh-ellip">{{::project.name}}</div>
                    <div class="created mh-ellip" >{{::dt(project.created, 'L')}}</div>
                    <div class="role mh-ellip">{{::txt(project.role)}}</div>
                </div>
            </div>
        </div>
        <mh-loader class="mh-def bar-spinner" ng-show="loadingChildren"></mh-loader>
    </div>
</div>