@import "../../global";

mh-user {

  .user-profile {
    border-bottom: 1px solid $splitter1;
    width: 100%;
    .public {
      padding-top: 10px;
      padding-bottom: 10px;
      .avatar {
        @include fill(186px, 186px);
        flex-shrink: 0;
        background: #fff;
        border-radius: 5px;
        margin-right: 10px;
        > img {
          margin: auto;
          border-radius: 5px;
        }
      }
      .text {
        flex-grow: 1;
        .full-name {
          font-weight: bold;
          font-size: 32px;
          margin-bottom: 10px;
          justify-content: space-between;
          width: 100%;
          .logout {
            border: 1px solid $splitter1;
            border-radius: 10px;
            padding: 10px;
            font-size: 14px;
            background: $primaryBtn;
            cursor: pointer;
            font-weight: normal;
            &:hover{
              background: $primaryBtnHover;
            }
            &:active{
              background: $primaryBtn;
            }
          }
        }
        .description{
          flex-grow: 1;
        }
      }
    }
  }

  .controls{
    padding: 7px 0;
    width:  100%;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $splitter1;
  }

  .new-project-form{
    padding: 7px 0;
    width:  100%;
    border-bottom: 1px solid $splitter1;
    .form{
      justify-content: space-between;
      align-items: center;
      .image-resizer{
        display: none;
      }
      .mh-primary-btn{
        margin-right: 5px;
      }
    }
    .create-project-error{
      color: $txtError;
    }
  }

  .error-message {
    padding: 10px;
    margin: auto;
  }
}