<div class="mh-def mh-fill init" ng-show="status === 'init'">
    <mh-loader class="mh-def mh-fill bar-spinner"></mh-loader>
</div>

<div class="ready" ng-show="status === 'ready'">

    <div class="mh-def user-profile">
        <div class="mh-def mh-row public">
            <div class="mh-def avatar">
                <img ng-src="{{user.avatar}}" title="{{user.fullName}}"/>
            </div>
            <div class="mh-def text">
                <div class="mh-def mh-row full-name">
                    <div class="mh-def">{{user.fullName}}</div>
                    <div class="mh-def logout mh-primary-btn" ng-click="logout()" ng-show="myId === user.id">{{::txt('logout')}}</div>
                </div>
                <div class="mh-def description">
                    <div ng-if="!user.descriptionErrorId">{{user.description}}</div>
                    <div ng-if="user.descriptionErrorId">{{txt('descriptionError', user.descriptionErrorId)}}</div>
                </div>
            </div>
        </div>
        <div class="profile-controls" ng-if="myId === user.id">
            <!--TODO add in myId account controls to update uiLang/locale/uiTheme/description-->
        </div>
    </div>

    <div class="mh-def mh-row controls">
        <div class="mh-primary-btn" ng-if="myId === user.id" ng-click="newProjectClick()">
            {{::txt('newProject')}}
        </div>

    </div>

    <div class="mh-def new-project-form" ng-show="showNewProjectForm">
        <div class="mh-def mh-row form">
            <div class="name">
                {{::txt('name')}}:<input type="text" ng-model="newProjectName"/>
            </div>
            <div class="description">
                {{::txt('description')}}:<input type="text" ng-model="newProjectDescription"/>
            </div>
            <div class="image">
                {{::txt('image')}}:<input class="new-project-image-input" type="file" accept=".png,.jpg,.jpeg,.gif"/>
            </div>
            <img class="image-resizer"/>
            <div class="mh-def mh-row">
                <div class="create-btn mh-primary-btn" ng-if="myId === user.id" ng-click="createNewProjectClick()">
                    {{::txt('create')}}
                </div>
                <div class="cancel-btn mh-secondary-btn" ng-click="cancelNewProjectClick()">
                    {{::txt('cancel')}}
                </div>
            </div>
        </div>
        <div class="create-project-error" ng-show="createProjectErrorId">
            {{txt('createProjectError', createProjectErrorId)}}
        </div>
    </div>

    <div class="projects">
        <div class="heading">

        </div>

        <div class="project" ng-repeat="project in invitedProjects track by $index">
            <img ng-src="/api/v1/project/getImage/{{::project.id}}.{{::project.imageFileExtension}}"/>
        </div>

        <div class="project" ng-repeat="project in projects track by $index">
            <img width="50" height="50" ng-src="/api/v1/project/getImage/{{::project.id}}.{{::project.imageFileExtension}}"/>
        </div>
    </div>
</div>

<div class="mh-def mh-fill error" ng-show="status === 'noSuchUser'">
    <div class="error-message">
        {{txt('noSuchUser', userId)}}
    </div>
</div>

<div class="mh-def mh-fill error" ng-show="status === 'error'">
    <div class="error-message">
        {{txt('error', errorId)}}
    </div>
</div>