<mh-header class="mh-def mh-row" ng-cloak></mh-header>
<mh-user ng-if="base === 'user'" base-arg="{{baseArg}}" ng-cloak></mh-user>
<mh-project ng-if="base === 'project'" base-arg="{{baseArg}}" ng-cloak></mh-project>
<mh-folder ng-if="base === 'folder'" base-arg="{{baseArg}}" ng-cloak></mh-folder>
<mh-document ng-if="base === 'document'" base-arg="{{baseArg}}" ng-cloak></mh-document>
<mh-document-version ng-if="base === 'documentVersion'" base-arg="{{baseArg}}" ng-cloak></mh-document-version>
<mh-global-search ng-if="base === 'globalSearch'" base-arg="{{baseArg}}" ng-cloak></mh-global-search>
<mh-uploads ng-cloak></mh-uploads>
<mh-viewer ng-cloak></mh-viewer>
