<div class="mh-def mh-fill">
    <div class="mh-def mh-row mh-fill">
        <mh-main-menu class="mh-fill" ng-show="showMainMenu" ng-cloak></mh-main-menu>
        <!--<ng-view ng-cloak></ng-view>-->
        <div class="mh-def mh-fill" style="background: red;"></div>
    </div>
    <div class="show-main-menu-btn mh-btn" ng-class="{show: !showMainMenu}" ng-click="showMainMenuBtnClick()"></div>
    <mh-aggregation-viewer ng-class="{show: showAggregationViewer}" class ="mh-fill" ng-cloak></mh-aggregation-viewer>
</div>
