/**
 * START CONSTANTS
 */
$background1: #333;
$background1Highlight: #555;
$background1Active: #59f;
$background2: #111;
$addColor: #77dd77;
$addHoverColor: #99ff99;
$removeColor: #ff5253;
$removeHoverColor: #ff7373;
$splitter1: #000;
$txtColor1: #fff;
$linkColor: #52A3DB;

$fontFamily: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$pageMaxWidth: 980px;
/**
 * END CONSTANTS
 */

/**
 * START MIXINS
 */
@mixin default($position: relative, $display: flex, $flexDirection: column, $margin: 0, $padding: 0, $overflow: hidden){
  position: $position;
  display: $display;
  flex-direction: $flexDirection;
  margin: $margin;
  padding: $padding;
  overflow: $overflow;
}

@mixin fill($width: 100%, $height: 100%){
  width: $width;
  height: $height;
}

@mixin theme($color: $txtColor1, $background: $background2, $fontFamily: $fontFamily, $fontSize: 14px, $fontWeight: normal){
  color: $color;
  background: $background;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/**
 * END MIXINS
 */