@import "global";

.mh-def{
  @include default();
}

.mh-fill{
  @include fill();
}

.mh-row{
  flex-direction: row;
}

.mh-link{
  color: $linkColor;
  cursor: pointer;
}

.mh-theme{
  @include theme();
}

.mh-btn{
  cursor: pointer;
  border: 1px solid $splitter1;
  border-radius: 5px;
  padding: 5px;
  &:hover{
    border: 1px solid $background1Highlight;
  }
  &:active{
    border: 1px solid $background1Active;
  }
}

.mh-primary-btn{
  @extend .mh-btn;
  background: $primaryBtn;
  &:hover{
    background-color: $primaryBtnHover;
  }
  &:active{
    background-color: $primaryBtn;
  }
}

.mh-secondary-btn{
  @extend .mh-btn;
  background: $secondaryBtn;
  &:hover{
    background-color: $secondaryBtnHover;
  }
  &:active{
    background-color: $secondaryBtn;
  }
}

.mh-ellip{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $background1;
}

::-webkit-scrollbar-corner{
  background: $background2;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

