@import "global";

.mh-def{
  @include default();
}

.mh-fill{
  @include fill();
}

.mh-row{
  flex-direction: row;
}

.mh-link{
  color: $linkColor;
  cursor: pointer;
}

.mh-theme{
  @include theme();
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $background1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

