@import "global";

.mh-def{
  @include default();
}

.mh-fill{
  @include fill();
}

.mh-row{
  flex-direction: row;
}

.mh-theme{
  @include theme();
}

.mh-btn{
  cursor: pointer;
}

.mh-ellip{
  @include ellipsis();
}

@include scrollbars();


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

