@import "../../global";

mh-project-space {
  * {
    flex-shrink: 0;
  }
  > div.root {
    @include IEScrollbars();
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    > div.content{
      width: 100%;
      min-height: 100%;
      > * {
        margin-left: 16px;
        margin-right: 16px;
      }
      > .header {
        height: 50px;
        border-bottom: 1px solid $background1;
        align-items: flex-end;
        > .icon {
          @include fill($width: 30px, $height: 30px);
          margin-right: 10px;
          margin-bottom: 10px;
          background: url("/resource/image/multi-sheet.png") center no-repeat;
          background-size: 30px 30px;
        }
        > .controls{
          > .control {
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            color: $color1;
            margin-right: 16px;
            > .name {
              margin-bottom: 5px;
            }
            &:hover, &.selected {
              color: $color2;
            }
            &.selected {
              .highlight {
                background: $highlight1;
              }
            }
            .highlight {
              @include fill($height: 5px);
            }
          }
        }
      }
      > mh-loader{
        flex-grow: 1;
      }
      > .versions-loading-error{
        flex-grow: 1;
        > div{
          margin: auto;
        }
      }
      > .versions{
        margin: 0px 8px 8px 8px;
        flex-wrap: wrap;
        > * {
          @include fill($width: $thumbnailWidth, $height: 285px);
          background: $background1;
          margin: 8px;
        }
        > .version{
          cursor: pointer;
          > .thumbnail{
            background: url("/resource/image/multi-sheet.png") center no-repeat;
            @include fill($width: $thumbnailWidth, $height: $thumbnailWidth);
            border-bottom: $border1;
            img{
              @include fill($width: $thumbnailWidth, $height: $thumbnailWidth);
              background-color: $background1;
            }
          }
          > .info{
            flex-grow: 1;
            > * {
              margin-left: 8px;
              margin-right: 8px;
              margin-top: 8px;
            }
            > .name, > .sheet-count {
              color: $color2;
            }
            > .sheet-count:hover {
              color: $highlight1;
            }
          }
        }
      }
    }
  }
}