<div class="mh-def mh-row mh-fill root">
    <mh-viewer parent-scope-id="{{$id}}" viewer-type="plain" class="mh-def mh-fill" ng-cloak></mh-viewer>
    <div class="mh-def sheets-menu" ng-show="showSheetsMenu">
        <div class="mh-def sheets-menu-root">
            <div class="mh-def mh-row header section">
                <div class="mh-def mh-ellip title">{{::txt('sheets')}}</div>
            </div>
            <div class="mh-def sheets">
                <div class="mh-def sheet" ng-repeat="sheet in sheets | orderBy: 'name'">
                    <div class="mh-ellip name" ng-click="::fitToView(sheet)">{{::sheet.name}}</div>
                    <mh-loader class="mh-def bar-spinner" ng-if="!sheet.propertyDbLoaded || !sheet.geometryLoaded"></mh-loader>
                    <div class="mh-def controls" ng-if="sheet.propertyDbLoaded && sheet.geometryLoaded">
                        <div class="mh-def mh-row transforms">
                            <div class="mh-def scale">
                                <div class="mh-def title">{{::txt('scale')}}</div>
                                <div class="mh-def mh-row dim" ng-repeat="(dim, _) in sheet.scale">
                                    <div class="mh-def label">
                                        {{::txt(dim)}}:
                                    </div>
                                    <input type="number" ng-model="sheet.scale[dim]" ng-change="::applyTransforms(sheet)"/>
                                </div>
                            </div>
                            <div class="mh-def rotation-q">
                                <div class="mh-def title">{{::txt('rotate')}}</div>
                                <div class="mh-def mh-row dim" ng-repeat="(dim, _) in sheet.rotate">
                                    <div class="mh-def label">
                                        {{::txt(dim)}}:
                                    </div>
                                    <input type="number" ng-model="sheet.rotate[dim]" ng-change="::applyTransforms(sheet)"/>
                                </div>
                            </div>
                            <div class="mh-def translation">
                                <div class="mh-def title">{{::txt('translate')}}</div>
                                <div class="mh-def mh-row dim" ng-repeat="(dim, _) in sheet.translate">
                                    <div class="mh-def label">
                                        {{::txt(dim)}}:
                                    </div>
                                    <input type="number" ng-model="sheet.translate[dim]" ng-change="::applyTransforms(sheet)"/>
                                </div>
                            </div>
                        </div>
                        <div class="mh-def" ng-click="::removeSheet(sheet)">
                            {{::txt('remove')}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toggle-sheets-menu-btn mh-btn" ng-click="toggleSheetsMenuBtnClick()"></div>
</div>