<div class="mh-def mh-fill root">
    <div class="mh-def content">
        <div class="mh-def mh-row header">
            <div class="icon">
            </div>
            <div class="mh-def mh-row controls" ng-show="projectSpaceExists">
                <div class="mh-def control" ng-class="{selected: selectedControl === 'newVersion'}" ng-click="newVersionBtnClick()">
                    <div class="name">{{::txt('newVersion')}}</div>
                    <div class="highlight"></div>
                </div>
            </div>
        </div>
        <div class="mh-def breadcrumbs">
            <mh-breadcrumbs entity-type="projectSpace" entity-id="{{projectSpaceId}}" ng-cloak></mh-breadcrumbs>
        </div>
        <div class="mh-def versions-loading-error" ng-if="versionsLoadingError">
            <div>{{::txt('loadingError', versionsLoadingError)}}</div>
        </div>
        <div class="mh-def mh-row versions" ng-show="versions && !versionsLoadingError">
            <mh-create-form new-type="projectSpaceVersion" parent-id="{{::projectSpaceId}}" project-id="{{projectSpace.project}}" ng-show="selectedControl"></mh-create-form>
            <div class="mh-def version" ng-repeat="version in versions track by $index" ng-click="::versionClick(version)">
                <div class="mh-def thumbnail">
                    <img ng-src="/api/v1/projectSpaceVersion/getThumbnail/{{::version.id}}/{{::version.thumbnailType}}" ng-if="version && version.thumbnailType"/>
                </div>
                <div class="mh-def info">
                    <div class="name mh-ellip">{{::txt('v', version.version)}}</div>
                    <div class="created mh-ellip">{{::dt(version.created, 'L')}}</div>
                    <div class="sheet-count mh-ellip" ng-if="version.sheetTransformCount > 0">{{::txt('sheets', version.sheetTransformCount)}}</div>
                </div>
            </div>
        </div>
        <mh-loader class="mh-def bar-spinner" ng-show="loadingVersions"></mh-loader>
    </div>
</div>