<div class="mh-def mh-fill root">
    <div class="mh-def content">
        <div class="mh-def mh-row header">
            <div class="icon"></div>
            <div class="title">{{::txt('uploads')}}</div>
            <div class="mh-def mh-row controls">
                <div class="mh-def control" ng-click="clearBtnClick()">
                    <div class="name">{{::txt('clear')}}</div>
                    <div class="highlight"></div>
                </div>
            </div>
        </div>
        <div class="mh-def mh-row uploads" ng-show="uploads.length">
            <div class="mh-def upload" ng-repeat="upload in uploads" ng-click="uploadClick(upload);">
                <div class="mh-def thumbnail">
                    <div  class="mh-def mh-fill file-ext">
                        <div class="mh-def" >{{upload.fileExtension}}</div>
                    </div>
                    <img class="mh-fill" ng-src="{{upload.thumbnailData.image.src}}" ng-if="upload.thumbnailData && upload.thumbnailData.image"/>
                </div>
                <div class="mh-def info">
                    <div class="name mh-ellip">{{upload.name}}</div>
                    <div class="ext mh-ellip">{{upload.fileExtension}}</div>
                    <div class="mh-def progress-bar {{upload.status}}">
                        <div class="mh-def mh-fill progress-fill" style="width: {{upload.progress}}%"></div>
                        <div class="mh-def mh-fill txt-align">
                            <div class="mh-def txt">{{txt(upload.status, upload.progress)}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mh-def no-uploads" ng-show="!uploads.length">
            <div class="mh-def msg">{{::txt('noUploads')}}</div>
        </div>
    </div>
</div>