@import "../../global";

mh-main-menu {
  background: $background1;

  > div.root {
    @include fill($width: calc(100% - 1px));
    border-right: $border1;

    * {
      flex-shrink: 0;
    }

    > .section {
      border-bottom: $border1;
    }

    > .header {
      justify-content: space-between;

      > * {
        @include fill($width: 50px, $height: 50px);
      }

      > .hide-main-menu-btn {
        background: $background1 url("/resource/image/menu.png") no-repeat center;
        &:hover {
          background: $backgroundSelected url("/resource/image/menu-selected.png") no-repeat center;
        }
        &:active {
          background: $background1 url("/resource/image/menu.png") no-repeat center;
        }
      }

      > .avatar > img {
        @include fill(50px, 50px);
      }
    }

    .btn {
      cursor: pointer;
      &.selected{
        background: $backgroundSelected;
        color: $colorSelected;
      }
      &:hover{
        color: $colorSelected;
      }
    }

    > .options {
      overflow: auto;
      > * {
        @include fill($height: 32px);
        align-items: center;
        > * {
          flex-shrink: 0;
        }
        > .highlight {
          @include fill($width: 5px);
        }
        &.selected {
          > .highlight {
            background: $highlight1;
          }
        }
        > .icon {
          @include fill(20px, 20px);
          background-repeat: no-repeat;
          background-size: contain;
          margin-left: 13px;
          margin-right: 13px;
        }
        > .txt {
          width: calc(100% - 61px);
        }

        &.logout {
          > .icon {
            background-image: url("/resource/image/logout.png");
          }
          &.selected, &:hover {
            > .icon {
              background-image: url("/resource/image/logout-selected.png");
            }
          }
        }

        &.settings {
          > .icon {
            background-image: url("/resource/image/settings.png");
          }
          &.selected, &:hover {
            > .icon {
              background-image: url("/resource/image/settings-selected.png");
            }
          }
        }

        &.projects {
          > .icon {
            background-image: url("/resource/image/folder.png");
          }
          &.selected, &:hover {
            > .icon {
              background-image: url("/resource/image/folder-selected.png");
            }
          }
        }

        &.invites {
          > .icon {
            background-image: url("/resource/image/invite.png");
          }
          &.selected, &:hover {
            > .icon {
              background-image: url("/resource/image/invite-selected.png");
            }
          }
        }

        &.uploads {
          > .icon {
            background-image: url("/resource/image/upload.png");
          }
          &.selected, &:hover {
            > .icon {
              background-image: url("/resource/image/upload-selected.png");
            }
          }
        }

        &.search{
          input {
            @include fill($width: calc(100% - 38px), $height: 20px);
            margin-left: 13px;
            outline: none;
            text-align: center;
            border: $border1;
            border-radius: 10px;
            background: $background2;
            color: $color2;
            &:focus{
              border: 1px solid $highlight1;
            }
          }
        }

        &.aggregation {
          > .icon {
            background-image: url("/resource/image/multi-sheet.png");
          }
          &.selected, &:hover {
            > .icon {
              background-image: url("/resource/image/multi-sheet-selected.png");
            }
          }
        }
      }
    }
  }

}